beamercolorthemepurdue.sty
class-emacs
enrolled.text
generate-enrolled.sc
give-talk
index.html
syllabus.pdf
syllabus.tex
l*.pdf
l*.tex
LICENSE
makefile
new-macros.tex
PU_signature_eps.png
README.md
Roster*.csv
rsync-to-min
set-up-class
*.pyc
.gitignore
.emacs
email.text
grif.gif
*.pdf
compile-talk
ece_logo.gif
ece59500nl.bib
*.mp4
.htaccess
mobi.sty
to-do.text
protected
*.fig
*.tex
*.JPG
*.text
