beamercolorthemepurdue.sty
class-emacs
enrolled.text
generate-enrolled.sc
give-talk
index.html
syllabus.pdf
syllabus.tex
l*.pdf
l*.tex
LICENSE
makefile
new-macros.tex
PU_signature_eps.png
README.md
Roster*.csv
rsync-to-min
set-up-class
*.pyc
.gitignore
.emacs
email.text
grif.gif
*.pdf
compile-talk
ece_logo.gif
*.mp4
.htaccess
mobi.sty
to-do.text
protected
*.fig
*.tex
*.JPG
*.text
EFECE_H-Full-RGB_1.jpg
EFECE_V-Full-RGB.jpg
class-chrome
class-hidden-emacs
class-uxplay
class-xpdf
class-zoom
ece49595nl.bib
make-whiteboard-pdf
n1.txt
region.el
rsync-to-shay
teams.txt
to-do.txt
venv
personal_keys.py
old_keys.py
keys.py
n*.txt
raw-term-project-schedule.txt
schedule.txt
term-project-schedule.txt
term-project-proposals
ResponseSummary.pdf
siskind-azure-creds.txt
siskind-azure-creds.rtf
ide.py
attendance.py
beginning.png
ch.py
code-to-add-to-index-html.txt
d.py
data.pkl
ece49595nl.txt
ece59500nl.bib
ece59500nl.txt
email.txt
end.png
f.py
f21feb2025.txt
f28mar2025.txt
generate.py
grade.py
index-initial.html
l.py
lambda.c
m24mar2025.txt
m31mar2025.txt
make-h-in-preparation
make-v-in-preparation
make-w-in-preparation
renumber.sh
rules.txt
send_reviews.py
send_submissions_for_review.py
tr.py
unpack_h1.py
unpack_h2.py
unpack_reviews.py
unpack_term_papers.py
w2apr2025.txt
y.txt
